.noteContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 20px;
}

.note {
    position: relative;
    top: 100px;
    left: 300px;
    word-wrap: break-word;
    height: 220px;
    width: 220px;
    background-color: #bbe4e9;
}

.text {
    color: #222831;
}

.deleteBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    height: 22px;
    width: 22px;
    font-weight: bold;
    transition: transform 400ms ease;
}

.deleteBtn:hover {
    transform: scale(1.3);
    color: black;
    background-color: white;
}