.container {
    text-align: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.title {
    margin: auto;
    padding-top: 50px;
    font-size: 44px;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: 8px;
}

.form {
    width: 200px;
    height: 500px;
    margin-left: 16px;
    margin-top: 12px;
}