li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5px;
    margin: 0.5rem 0px;
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.liComplete {
    background: #e6e6e6;
    text-decoration: line-through;
}

.row {
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    margin-left: 0.5rem;
    cursor: pointer;
}

.text:hover {
    color: #53a8b6;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: #53a8b6;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #bbe4e9;
    color: #222831;
    transform: translateY(-2px);
}