li {
    display: flex;
    justify-content: space-between;   
    padding: 0.5rem;
    margin: 0.5rem 0;
    text-transform: capitalize;
}

.liComplete {
    background: yellow;
    display: flex;
    justify-content: space-between;    
    padding: 0.5rem;
    margin: 0.5rem 0;
    text-transform: capitalize;
}

.row {
    display: flex;
}

.text {
    margin-left: 0.5rem;
    cursor: pointer;
}

.textComplete {
    margin-left: 0.5rem;
    cursor: pointer;
    text-decoration: line-through;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
}