.container {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: #233142;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linksInner {
  display: flex;
  align-items: center;
}

.link {
  font-size: 25px;
  text-decoration: none;
  color: #ececec;
  padding: 10px;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.link:hover {
  border-color: #fcfefe;
}