.container {
  background-color: #f5f5f5;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 35px;
  margin-right: 10px;
}

.linksInner {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.link:hover {
  border-color: #333;
}
