.App {
  display: flex;
  height: 100vh;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.inputs{
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.box {
  flex: 1;
  margin: 10px;
  background-color: #ccc;
}