html,
body,
#root {
  height: 100%;
  margin: 0;
  background: lightblue;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.containerNote,
.containerTodo {
  flex: 1;
}

.boxText {
  height: 50%;
}