html {
  background: #e7eaf6;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.containerNote {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.boxText {
  height: 50%;
}

@media (max-width: 600px) {
  .boxText {
    height: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .containerNote {
    height: auto;
    margin: 5px;
  }
}